.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* table {
  border-collapse: collapse;
  table-layout: inherit;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: 1px solid gray;
}
thead {
  width: 1;
}
tbody {
  overflow: scroll;
}
td {
  border: 1px solid gray;
  padding: 10px;
  width: auto;
  white-space: nowrap;
} */

.scrollTable {
  border: 2px solid lightgray;
  width: auto;
  width: auto;
  text-align: center;
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: auto; /* Hide the horizontal scroll */
}
